*.obj
*.vs
*.sln
bin/
*.suo
*.db
*.user
*.csproj
*.bak
*.filters
*.resx
*.TMP
obj/
Backup/
UpgradeLog.htm
ReadMe.txt
NetSDKDemo.aps
NetSDKDemo.vcproj
UpgradeLog.htm
clear.bat
ipch/
res/
test.ini
*.ocx
Release/
LANG_EN
